extends layout

block content
  div.content
    div.postform  
      form(action="/post" method='post')
        div
          label(for='message')
          textarea(name='message' id='message' minlength='15' required) 
        div.buttons 
          button(type='submit' id='post-button' class='btn') Post
      div.posts  
        if posts  
          each post in posts
            div(class='post')
              div #[a(href=post.author.url) #{post.author.username}]
              div #{post.message}
              div.buttons
                form(action=`/posts/${post.id}`)
                  input(class='btn' type='submit' value='Reply' method='get' action=`/posts/${post.id}`)
