extends layout

block content
  div
    a(href=`/user/${currentUser.username}`) Profile
  h1= title
  p Welcome to #{title}, #{currentUser.first_name} #{currentUser.last_name}
  form(action="/post" method='post')
    div
      label(for='message')
      textarea(name='message' id='message' minlength='15') 
    div 
      button(type='submit' id='post-button') Post
  div(class='posts-area')
    if posts  
      each post in posts
        div(class='post') #{post.author.first_name} #{post.author.username}
          div #{post.message}
        div
          form(action=`/posts/${post.id}`)
            input(type='submit' value='Reply' method='get' action=`/posts/${post.id}`)
  