doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="https://kit.fontawesome.com/87c9c0cd26.js" crossorigin="anonymous"></script>
  body
  div.grid
    div(class='header')
      h1 The Discourse
    .searchform
      form(action='/posts/search' method='post').search  
        div.formgroup
          label(for='search')
            i.fa-solid.fa-magnifying-glass.icon
          input(type='text' id='search' name='search')
        div.searchbtn
          input(type='submit' value='Search')
    div.sidebar 
      .option
        .icon
          a(href='/')
            i.fas.fa-house
        .words
          a(href='/')
            p Home
      .option
        .icon
          a(href=`/user/${currentUser ? currentUser.username:''}`)
            i.fa-solid.fa-user
        .words
          a(href=`/user/${currentUser ? currentUser.username: ''}`)
            p Profile
      .option
        .icon
          a(href=`/user/${currentUser ? currentUser.username : ''}`)
            i.fas.fa-envelope
        .words
          a(href=`/user/${currentUser ? currentUser.username : ''}/messages`)
            p Messages
    block content
