extends layout 
block content 
  .content 
    .div.composemessageform  
      .newpost  
        h3 Send a new private message
      div
        form(action=`/user/${currentUser.username}/messages/send` method='post')
          div
            label(for='recipient')
            input(type='text' placeholder='Recipient' name='recipient')
          div
            label(for='message')
            textarea(name='message' id='message' minlength='15' required) 
          div.buttons 
            button(type='submit' id='post-button' class='btn') Send Message
    div  
      h2 #{currentUser.username}'s messages
    div.messages
        each conversation in conversations 
          .conversation #{conversation.messages.at(-1).from_user.username} + #{conversation.messages.at(-1).to_user.username}
            .message 
              .from #{conversation.messages.at(-1).from_user.username}: #[a(href=`/user/${currentUser.username}/messages/${conversation.id}`) #{conversation.messages.at(-1).message}]
              .date #{conversation.messages.at(-1).date.toLocaleString()}