extends layout 

block content 
  .content 
    h3 Conversation with #{conversation.messages[0].from_user.username === currentUser.username ? conversation.messages[0].to_user.username : conversation.messages[0].from_user.username}
    if conversation.messages 
      each message in conversation.messages 
        .messages 
          .message-card
            .message  
              .sender #[a(href=`/user/${message.from_user.username}`) #{message.from_user.username}]:  
              .message #{message.message}
            .date #{message.date.toLocaleString()}  
      form(action=`/user/${currentUser.username}/messages/${conversation.id}/reply` method='post')
        div.reply
          label(for='recipient')
          input(type='hidden' name='recipient' value=`${conversation.messages[0].from_user.username === currentUser.username ? conversation.messages[0].to_user.id : conversation.messages[0].from_user.id}`)
          label(for='submessage')
          textarea(name='submessage' id='submessage')
          button.btn(type='submit') Reply
