extends layout 

block content 
  div
    div=post.author.first_name 
    div=post.author.username
  div
    p=post.message
  if post.replies 
    each reply in replies
      div #{reply.author.name} @#{reply.author.username}
      div= reply.message
      
  form(action=`/posts/${post._id}/reply` method='post')
    label(for="reply") 
    textarea(type='text' name='reply' placeholder=`Reply to ${post.author.username}...` minlength=15)
    input(type='submit' value='Reply')
    