extends layout 

block content 
  div.content  
    div.posts
      div.post  
        div.author
          div=post.author.username
        div.message
          p=post.message
      if post.replies 
        div.posts
          each reply in replies
            div.reply.post
              div.author #{reply.author.name} #{reply.author.username}
              div.message= reply.message
        form(action=`/posts/${post._id}/reply` method='post' class='postform')
          label(for="reply") 
          textarea(type='text' name='reply' placeholder=`Reply to ${post.author.username}...` minlength=15 required=true)
          div
            input(type='submit' value='Reply').btn
    