extends layout

block content
  h1 #{user.username}'s profile
  div
    p #{user.first_name}
    p #{user.bio ? user.bio : `We don't know a lot about ${user.username}, but we're sure they're great.`}
    if posts 
      div Post history:  
          each post in posts 
            div=post.message
            if currentUser.username === user.username 
              form(action=post.url + '/delete', method='post')
                div
                  input(type='submit' value='Delete Post')
  if currentUser.username===user.username
    button Change username.