extends layout

block content
  div.profile.content
    div.profile-header #{user.username} 
    p #{user.bio ? user.bio : `We don't know a lot about ${user.username}, but we're sure they're great.`}
    if posts[0] !== undefined 
      div
        h2 Post history:  
        each post in posts 
          div.posts  
            div.post
              div= post.message
              if currentUser.username === user.username 
                div
                  form(action=post.url + '/delete', method='post')
                    div.buttons
                      input(type='submit' value='Delete Post').btn
    if replies[0] !== undefined 
      div
        h2 Reply history: 
        each reply in replies 
          .posts 
            .post 
              div=reply.message
              if currentUser.username === user.username 
                div
                  form(action=post.url + '/delete', method='post')
                    div.buttons
                      input(type='submit' value='Delete Post').btn
    if posts[0] === undefined && replies[0] === undefined
      div Looks like #{user.username} hasn't posted anything just yet.