extends layout

block content
  div.profile.content
    div.profile-header #{user.username} 
    p #{user.bio ? user.bio : `We don't know a lot about ${user.username}, but we're sure they're great.`}
    if posts 
      div
        h2 Post history:  
        each post in posts 
          div.posts  
            div.post
              div= post.message
              if currentUser.username === user.username 
                div
                  form(action=post.url + '/delete', method='post')
                    div.buttons
                      input(type='submit' value='Delete Post').btn